body{
		background-color: #ECE2D0;

}
.barra1{
	background-color: #6B1616;
	width: 100%;
	min-width: 450px;
	height: 100px;
	text-align: center;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 10px;
}
#titlep{
color: #ECE2D0;
font-size: 12px;
}

#section2, #section3, #section4{
	min-width: 450px;
	min-height: 600px;
	margin: auto 0;

	box-shadow: 0 0 30px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px(0,0,0,0.8);
	-moz-box-shadow: 0 0 30px(0,0,0,0.8);
	position:relative;
}
#section1{	
	background-image: url("fondo1.jpg");

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100%;
  	min-height: 600px;
  	min-width: 450px;
  	background-color:white ;
}
@media only screen and (max-width: 767px) {
#section1{
	background-image: url("fondo2.jpg");
	background-position: relative;
	background-size: 100%;
	background-repeat: repeat;
}	

}

.sec1{
	padding-top: 5%;
	background-size: width 100%;
	height: 600px;
}

#section2{
	background-color:#ECE2D0 ;
	color: #ECE2D0;
}
#productos{
	padding: auto;
}
#section3{
	background-color:#031926 ;
}
#section4{
	background-color:#CC8B86;
}
#footer{
	background-color: #919098;
	min-width: 450px;
	min-height: 300px;
}

.quitar-float{
	float: none;
}

.retraso-1{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;

}
.retraso-2{
	animation-delay:2s;
	-webkit-animation-delay:2s;
	-moz-animation-delay:2;
}
.retraso-3{
	animation-delay:3s;
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
}
.retraso-4{
	animation-delay:4s;
	-webkit-animation-delay:4s;
	-moz-animation-delay:4s;
}
.nigger{
	color:white;
}
#productos{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}
.caja1{
color: white;
border: 3px;
border-style: dashed;
margin: 0px 10px 10px 0px;
text-align: center;
display: block;
padding-top: 3%;
padding-bottom: 3%;
}